header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    background-color: #FFF5EE;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-row label {
  width: 150px;
  padding-top: 10px;
  font-weight: bold;
}


.form-row input,
.form-row textarea {
  width: 500px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.form-row textarea {
  height: 120px;
  resize: none;
}
