{% block title %}My account{% endblock %}

{% block content %}
<h1>Welcome, {{ request.user.username }}!</h1>
{% csrf_token %}

  <p><strong>Username:</strong> {{ user }}</p>
  <p><strong>Goals:</strong> {{ goals }}</p>
  <p><strong>Stress level:</strong> {{ stress_level }}</p>
  <p><strong>How is your day?:</strong> {{ day }}</p>
  <p><strong>Physical activity:</strong> {{ activity }}</p>
  <p><strong>Gratitude:</strong> {{ gratitude }}</p>
  <p><strong>Mood:</strong> {{ mood }}</p>
  <p><strong>Notes:</strong> {{ notes }}</p>




  <hr>

  <a href="{% url 'logout' %}">Logout</a>
{% endblock %}